<% form_for @corporation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :other_info %><br />
    <%= f.text_area :other_info %>
  </p>
  <p><%= f.submit %></p>
<% end %>
