<h3>Note to every member (SHPE/NSBE): Your dues must be paid for you to be able to attend this event.  If you register and your dues are not paid, you will be waitlisted.</h3>
<h4>NSBE Members will be able to pay their dues at the next General Body Meeting on Wednesday, September 8th.</h4>

<% form_for @student do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :major %><br />
    <%= f.select :major, Student::MAJOR, :prompt => "What's your major?" %>
  </p>
  <p>
    <%= f.label "Year" %><br />
    <%= f.select :grad_year, Student::GRAD_YEAR, :prompt => "--select graduation year--" %>
  </p>
  <p>
    <%= f.label :affiliation %><br />
    <%= f.select :affiliation, Student::SESSION_LIST, :prompt => "Select an organization" %>
  </p>

  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>

  <h4>You must select a company for each choice.</h4>
  <p>
    <%= f.label :choice_one %><br />
    <%= f.select :choice_one, Student::CHOICES, :prompt => "1st choice company" %>
  </p>
  <p>
    <%= f.label :choice_two %><br />
    <%= f.select :choice_two, Student::CHOICES, :prompt => "2nd choice company" %>
  </p>
  <p>
    <%= f.label :choice_three %><br />
    <%= f.select :choice_three, Student::CHOICES, :prompt => "3rd choice company" %>
  </p>
  <p>
    <%= f.label :choice_four %><br />
    <%= f.select :choice_four, Student::CHOICES, :prompt => "4th choice company" %>
  </p>
  <p>
    <%= f.label :choice_five %><br />
    <%= f.select :choice_five, Student::CHOICES, :prompt => "5th choice company" %>
  </p>
  <p><%= f.submit "RSVP" %></p>
<% end %>
