<% form_for @student do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :major %><br />
    <%= f.select :major, Student::MAJOR, :prompt => "What's your major?" %>
  </p>
  <p>
    <%= f.label "Year" %><br />
    <%= f.text_field :grad_year %>
  </p>
  <p>
    <%= f.label :affiliation %><br />
    <%= f.select :affiliation, Student::SESSION_LIST, :prompt => "Select an organization" %>
  </p>
  <p>
    <%= f.label :choice_one %><br />
    <%= f.select :choice_one, Student::CHOICES, :prompt => "1st choice company" %>
  </p>
  <p>
    <%= f.label :choice_two %><br />
    <%= f.select :choice_two, Student::CHOICES, :prompt => "2nd choice company" %>
  </p>
  <p>
    <%= f.label :choice_three %><br />
    <%= f.select :choice_three, Student::CHOICES, :prompt => "3rd choice company" %>
  </p>
  <p>
    <%= f.label :choice_four %><br />
    <%= f.select :choice_four, Student::CHOICES, :prompt => "4th choice company" %>
  </p>
  <p>
    <%= f.label :choice_five %><br />
    <%= f.select :choice_five, Student::CHOICES, :prompt => "5th choice company" %>
  </p>
  <p><%= f.submit "RSVP" %></p>
<% end %>
