<% form_for @student do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :major %><br />
    <%= f.select :major, Student::MAJOR, :prompt => "What's your major?" %>
  </p>
  <p>
    <%= f.label :grad_year %><br />
    <%= f.text_field :grad_year %>
  </p>
  <p>
    <%= f.label :affiliation %><br />
    <%= f.select :affiliation, Student::SESSION_LIST, :prompt => "Select an organization" %>
  </p>
  <p>
    <%= f.label :choice1 %><br />
    <%= f.select :choice1, Student::CHOICE1_LIST, :prompt => "1st choice company" %>
  </p>
  <p>
    <%= f.label :choice2 %><br />
    <%= f.select :choice2, Student::CHOICE2_LIST, :prompt => "2nd choice company" %>
  </p>
  <p>
    <%= f.label :choice3 %><br />
    <%= f.select :choice3, Student::CHOICE3_LIST, :prompt => "3rd choice company" %>
  </p>
  <p>
    <%= f.label :choice4 %><br />
    <%= f.select :choice4, Student::CHOICE4_LIST, :prompt => "4th choice company" %>
  </p>
  <p>
    <%= f.label :choice5 %><br />
    <%= f.select :choice5, Student::CHOICE5_LIST, :prompt => "5th choice company" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
