<h2>NSBE Registrants</h2>
<table>
  <tr>
	<th>&nbsp;</th>
	<th>Registration Date</th>
	<th>Registration Time</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Major</th>
    <th>Grad Year</th>
    <th>Choice1</th>
    <th>Choice2</th>
    <th>Choice3</th>
  </tr>
<% i = 1 %>
  <% for student in @nsbe_students %>
    <tr>
	  <td><%= i %></td>	  
	  <td><%=h student.created_at.strftime("%m/%d/%y") %></td>
	  <td><%=h student.created_at.strftime("%l:%M%p") %></td>
      <td><%=h student.first_name %></td>
      <td><%=h student.last_name %></td>
      <td><%=h Student::MAJOR[student.major - 1][0] %></td>
      <td><%=h Student::GRAD_YEAR[student.grad_year - 1][0] %></td>
      <td><%=h student.choice_one %></td>
      <td><%=h student.choice_two %></td>
      <td><%=h student.choice_three %></td>

      <td><%= link_to "Show", student %></td>
      <td><%= link_to "Edit", edit_student_path(student) %></td>
      <td><%= link_to "Destroy", student, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


<h2>SHPE Registrants</h2>
<table>
  <tr>
	<th>&nbsp;</th>
	<th>Registration Date</th>
	<th>Registration Time</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Major</th>
    <th>Grad Year</th>
    <th>1st Choice</th>
    <th>2nd Choice</th>
    <th>3rd Choice</th>
  </tr>
  <% i = 1 %>
  <% for student in @shpe_students %>
    <tr>
	  <td><%= i %></td>	  
	  <td><%=h student.created_at.strftime("%m/%d/%y") %></td>
	  <td><%=h student.created_at.strftime("%l:%M%p") %></td>
      <td><%=h student.first_name %></td>
      <td><%=h student.last_name %></td>
      <td><%=h Student::MAJOR[student.major - 1][0] %></td>
      <td><%=h Student::GRAD_YEAR[student.grad_year - 1][0] %></td>
      <td><%=h student.choice_one %></td>
      <td><%=h student.choice_two %></td>
      <td><%=h student.choice_three %></td>

      <td><%= link_to "Show", student %></td>
      <td><%= link_to "Edit", edit_student_path(student) %></td>
      <td><%= link_to "Destroy", student, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Student", new_student_path %></p>
