<% title "Student" %>

<p>
  <strong>Name:</strong>
  <%=h @student.full_name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @student.email %>
</p>
<p>
  <strong>Major:</strong>
  <%=h Student::MAJOR[@student.major - 1][0] %>
</p>
<p>
  <strong>Registered At:</strong>
  <%=h @student.created_at.strftime("%l:%M%p on %m/%d/%y") %>
</p>
<p>
  <strong>Grad Year:</strong>
  <%=h Student::GRAD_YEAR[@student.grad_year - 1][0] %>
</p>
<p>
  <strong>Affiliation:</strong>
  <%=h @student.get_organization %>
</p>

<p>
  <strong>Comments:</strong>
  <%=h @student.comments %>
</p>

<p>
  <strong>Choice1:</strong>
  <%=h @student.choice_one %>
</p>
<p>
  <strong>Choice2:</strong>
  <%=h @student.choice_two %>
</p>
<p>
  <strong>Choice3:</strong>
  <%=h @student.choice_three %>
</p>
<p>
  <strong>Choice4:</strong>
  <%=h @student.choice_four %>
</p>
<p>
  <strong>Choice5:</strong>
  <%=h @student.choice_five %>
</p>

<p>
  <%= link_to "Edit", edit_student_path(@student) %> |
  <%= link_to "Destroy", @student, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", students_path %>
</p>
